.partner-sidebar{

width:250px;

min-height:100vh;

background:#0d6efd;

color:white;

padding-top:30px;

}

.partner-logo{

font-size:28px;

font-weight:bold;

text-align:center;

margin-bottom:40px;

}

.partner-sidebar ul{

list-style:none;

}

.partner-sidebar li{

margin:8px 15px;

}

.partner-sidebar a{

display:block;

padding:14px;

border-radius:8px;

text-decoration:none;

color:white;

transition:.3s;

}

.partner-sidebar a:hover{

background:#0b5ed7;

}

.active a{

background:white;

color:#0d6efd;

font-weight:bold;

}